<p>
    Cambio en sandbox
</p>
<h2>Berizzo: "Es la oportunidad de certificar nuestro primer objetivo"</h2>

Eduardo Berizzo ha analizado el choque de mañana ante el Liverpool. En opinión del técnico será clave la gestión de la pelota para evitar las transiciones rápidas del conjunto 'Red' y tener más opciones de una victoria que otorgaría el pase matemático a los octavos de la Champions. "Tenemos una gran oportunidad de certificar nuestro primer objetivo. Lo intentamos contra un gran rival, pero apoyados por nuestro público en un campo en el que somos muy fuertes. Los grandes partidos dan gran solidez anímica. No podemos jugar un partido alocado y desequilibrado. No nos conviene", ha señalado el entrenador del Sevilla.

Para tener el balón será importante tener la mejor versión de Nzonzi y Banega. "Jugadores como Steven o Éver son los reguladores del juego. Somos un equipo que corre bien hacia adelante, pero ellos son reguladores y mañana será importante elegir cuándo usar la velocidad y cuándo la asociación. Allí les hicimos daños cuando corrimos. No podemos perderla imprudentemente porque el Liverpool no perdona", aseguraba.

No ha dado muchas pistas más sobre el once el técnico, que mañana dará la lista de convocados tras la sesión matinal. "Hoy se han entrenado todos muy bien. Mañana en la mañana decidiremos si cambiamos o seguimos con la gente que jugó contra el Celta. Nuestro plan de partido pasa por presionarlos e incomodarlos y para eso hace falta energía", ha dicho cuando le han preguntado si Nolito y Muriel repetirían en el once.

Para el de Cruz Alta el hecho de que se juegue en el Sánchez-Pizjuán es una garantía por la fortaleza que ha mostrado el equipo en casa: "Puedo decirte que en casa nuestra gente se hace sentir. Jugar como rival es una cosa incómoda por el ambiente y la calidad del equipo. Se establece una simbiosis difícil de superar. Somos fuertes en casa. Tenemos que resolver el partido con inteligencia y capacidad de juego. "El partido en Liverpool fue de transición rápida de su ataque. Nos hizo sufrir esa velocidad de ellos tras pérdida. Una de las claves del partido es la gestión del balón y de la profundidad para evitar que el Liverpool pueda correr con sus jugadores velocidades. Tenemos que perderla lo más arriba posible o terminar las jugadas para evitar sus salidas rápidas".

Otra cosa que tiene clara el técnico es que no saldrán a empatar: "Puede convenirnos un empate, pero un plan inicial nunca imagino acomodarme al resultado. Siempre busco una victoria".

Para el técnico, partidos así son de los que gusta jugar: "Nuestra profesión conlleva una gran presión. Cuando me enfrento a partidos como éste recuerdo quién era, de dónde vengo y la ilusión que me hacía enfrentar un partido de estos. Esto es gasolina para un entrenador o un jugador. Me siento un privilegiado".

Salah, su relación con Klopp y el cambio de régimen en el fútbol europeo
A Berizzo le han preguntado en varias ocasiones por Salah, el jugador más en forma del Liverpool. "Salah es un jugador peligroso por su verticalidad y velocidad. Me gustan mucho más los míos. Él, Firmino, Mané son difíciles de sujetar. Salah es muy rápido y muy vertical. Aprovecha el vacío en el centro del campo para tirar diagonales como hizo Aspas. Eso le puede servir a Sergio como aprendizaje. Además es muy veloz y cuando arma el juego hacia adelante es muy difícil. Hay que escalonarse, que llegue la ayuda al uno contra uno. Y antes evitar que el Liverpool pueda recuperar y correr", ha señalado sobre el egipcio.

En cuanto a su relación con Klopp, ha explicado que es "cordial" pese al encontronazo de Anfield. "Nuestra relación es cordial. Mi expulsión no tiene nada que ver con eso. Después del partido aclaré mi error. Será un placer enfrentarnos con un gran equipo con un gran entrenador".

También ha sido preguntado el técnico del Sevilla por el cambio de régimen que se observa en el fútbol europeo, con los ingleses a la cabeza: "Es una mezcla de las razones que has esgrimido. No hay una explicación. Son los tres factores: incursión de entrenadores que han variado la forma de jugar, la transformación de los equipos ingleses de poseedores del balón, el poder económico. El fútbol español impone el uso del balón y ahora los ingleses discuten eso".

<img src="/var/www/html/drupal_drush/miDrupal/modules/custom/drupal_sandbox/example_6/image/berizzo.jpg alt="Flowers in Chania">
<a href="http://www.estadiodeportivo.com/">Para ampliar la información, Pincha aquí</a>
{{ test_var }}

